*{
    font-family: Consolas,monaco,monospace;
}
.form{
    margin-top: 1%;
    background-color: #EEE;
    align-items: center;
    width: 60%;
    color: #000000;
    height: 100%;
    
}
.leftside{
float: left;

}
.rightside{
float: right;

}
.table{
    border: 1px solid black;
    float: left;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    
    
}