
.form{
    
    margin-left: auto;
    margin-right: auto;
    background-color: #EEE;
    align-items: center;
    width: 25%;
    color: #000000;
    height: 100%;
    
}

.form_leftside{
    float: left;
}
.form_rightside{
    float: right;
}
.form_rightside--boton{
    float: right;
    margin-top:5%;
}
.table{
    border: 1px solid black;
    float: left;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    
    
}